.navbar {
  margin-top: 10px;
}

#film-search:focus + .dropdown-menu {
  visibility: visible;
  display: block;
}

.dropdown-menu:hover {
  visibility: visible;
  display: block;
}

.dropdown-menu {
  max-height: 300px;
  overflow: scroll;
}

#movie-title-box {
  padding-bottom: 2rem;
}

.col {
  float: left;
  width: auto;
  margin-right: 4rem;
}

div.poster-box {
  padding-left: 0;
}

img.poster {
  width: 100%;
}

.rating-box {
  text-align: center;
  line-height: 1em;
  margin-bottom: 0;
  .info-text {
    font-size: 1rem;
  }
}

.rating {
  color: #aaa;
  font-size: 1.4em;
  span.rating-dot {
    cursor: pointer;
    text-decoration: none;
    float: right;
    text-shadow: 0 .08em .1em #333;
    &:last-child {
      text-shadow: none;
    }
  }
}

.rating-dot.selectified {
    color: #b55;
  }

.rating-dot:hover ~ .rating-dot,
.rating-dot:hover {
  color: #b00;
}

.rating-dot:active {
    position:relative;
    top:1px;
    left:1px;
}

.tags-title {
  margin-top: 0;
}

.panel.tag-item {
  padding: .5em 0;
  .col {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .rating-box {
    margin-right: 0;
    font-size: 1.5em;
    line-height: 1em;
  }
  .tag-name {
    margin-top: .8em;
    letter-spacing: .05em;
  }
}

.header-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
// 780 x 439

div.xs-only {
  display: none;
}

@media(max-width: 767px) {

  div.xs-only {
    display: block;
  }

  div.poster-box {
    display: none;
  }

}
