html, body, .page {
  height: 100%; }

.navbar {
  margin-top: 10px; }

.home.indie {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("/crusade.png"); }

.navbar-container {
  background-color: rgba(240, 240, 255, 0.7); }

div.jumbotron.front-page {
  color: #fff;
  background: none;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  bottom: 100px; }

.backdrop1 {
  background-image: url("/1.jpg"); }

.backdrop2 {
  background-image: url("/2.jpg"); }

.backdrop3 {
  background-image: url("/3.jpg"); }

.backdrop4 {
  background-image: url("/4.jpg"); }

.inline-block {
  display: inline-block;
  float: left;
  margin-right: 15px; }

.panel {
  padding: 0; }

#film-search:focus + .dropdown-menu {
  visibility: visible;
  display: block; }

.dropdown-menu:hover {
  visibility: visible;
  display: block; }

.dropdown-menu {
  max-height: 300px;
  overflow: scroll; }

.bg-color {
  padding-bottom: 2rem;
  background-color: #f8f8ff; }

img.poster {
  width: 100%; }

.rating-box {
  text-align: center;
  font-size: 1.4em;
  margin-top: -0.1em; }
  .rating-box .info-text {
    font-size: 1rem; }

.rating {
  color: #aaa;
  display: inline-block;
  line-height: 1em; }
  .rating span.rating-dot {
    cursor: pointer;
    text-decoration: none;
    float: right;
    text-shadow: 0 .08em .1em #333; }
    .rating span.rating-dot:last-child {
      text-shadow: none; }

.rating-dot.selectified {
  color: #b55; }

.rating-dot:hover ~ .rating-dot,
.rating-dot:hover {
  color: #b00; }

.rating-dot:active {
  position: relative;
  top: 1px;
  left: 1px; }

.tags-title {
  margin-top: 0em; }

.btn-sm {
  margin-top: .5em; }

.panel.tag-item {
  margin-bottom: .5em; }
  .panel.tag-item .tag-name {
    letter-spacing: .05em;
    margin-top: .7em; }
  .panel.tag-item > * {
    margin-left: 15px;
    margin-right: 15px; }
  .panel.tag-item .notes {
    margin-bottom: 15px; }

.header-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

div.xs-only {
  display: none; }

@media (max-width: 767px) {
  div.xs-only {
    display: block; }
  div.poster-box {
    display: none; }
  .rating-box {
    text-align: left; }
  div.jumbotron.front-page {
    text-align: center; }
    div.jumbotron.front-page h1 {
      font-size: 55px; }
  div.main-page {
    padding-top: 2rem; } }
