.navbar {
  margin-top: 10px; }

#film-search:focus + .dropdown-menu {
  visibility: visible;
  display: block; }

.dropdown-menu:hover {
  visibility: visible;
  display: block; }

.dropdown-menu {
  max-height: 300px;
  overflow: scroll; }

#movie-title-box {
  padding-bottom: 2rem; }

.col {
  float: left;
  width: auto;
  margin-right: 4rem; }

div.poster-box {
  padding-left: 0;
  width: 185px; }

img.poster {
  width: 100%; }

.rating-box {
  text-align: center;
  line-height: 1em; }

.rating {
  color: #aaa;
  font-size: 1.4em; }
  .rating span.rating-dot {
    cursor: pointer;
    text-decoration: none;
    float: right;
    text-shadow: 0 .08em .1em #333; }
    .rating span.rating-dot:last-child {
      text-shadow: none; }

.rating-dot:hover ~ .rating-dot,
.rating-dot:hover {
  color: #b00; }

.rating-dot:active {
  position: relative;
  top: 1px;
  left: 1px; }

.panel.tag-item {
  padding: .5em 0; }
  .panel.tag-item .col {
    margin-left: 2rem;
    margin-right: 2rem; }
  .panel.tag-item .rating-box {
    margin-right: 0;
    font-size: 1.5em;
    line-height: 1em; }
  .panel.tag-item .tag-name {
    margin-top: .8em; }
